Tello Drone Dashboard.json
[
    {
        "id": "b3923dc6896fbed7",
        "type": "tab",
        "label": "Tello Drone Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5116e5b02ba82e29",
        "type": "ui_button",
        "z": "b3923dc6896fbed7",
        "name": "",
        "group": "c0c62188dc978b18",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Takeoff",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Takeoff",
        "payloadType": "str",
        "topic": "tello/command",
        "topicType": "str",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "8e578393644798be",
                "7694c033943589ac"
            ]
        ]
    },
    {
        "id": "cb8303f1b95f9df0",
        "type": "ui_button",
        "z": "b3923dc6896fbed7",
        "name": "",
        "group": "64cb343c8b4b7a00",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Move Forward 20cm ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Move Forward 20cm",
        "payloadType": "str",
        "topic": "tello/command",
        "topicType": "str",
        "x": 640,
        "y": 140,
        "wires": [
            [
                "69c31dd8c7298c93",
                "657ee92043e2a0b5"
            ]
        ]
    },
    {
        "id": "22e96fb15e9b5521",
        "type": "ui_button",
        "z": "b3923dc6896fbed7",
        "name": "",
        "group": "c0c62188dc978b18",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Land",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Land",
        "payloadType": "str",
        "topic": "tello/command",
        "topicType": "str",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "e7b37dacf1363425",
                "ecb229bd2d192970"
            ]
        ]
    },
    {
        "id": "52c03a199451b3e5",
        "type": "ui_button",
        "z": "b3923dc6896fbed7",
        "name": "",
        "group": "64cb343c8b4b7a00",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Move Back 20cm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Move Back 20cm",
        "payloadType": "str",
        "topic": "tello/command",
        "topicType": "str",
        "x": 630,
        "y": 240,
        "wires": [
            [
                "d7e97bc56d415d68",
                "78bde5a0e7d56b91"
            ]
        ]
    },
    {
        "id": "729a7a945f52bb0b",
        "type": "ui_button",
        "z": "b3923dc6896fbed7",
        "name": "",
        "group": "64cb343c8b4b7a00",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Move Left 20cm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Move Left 20cm",
        "payloadType": "str",
        "topic": "tello/command",
        "topicType": "str",
        "x": 620,
        "y": 640,
        "wires": [
            [
                "7ca22bbca1968675",
                "5a2b1eaca6b99fc4"
            ]
        ]
    },
    {
        "id": "f168b81f9e688b5a",
        "type": "ui_button",
        "z": "b3923dc6896fbed7",
        "name": "",
        "group": "64cb343c8b4b7a00",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Move Right 20cm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Move Right 20cm",
        "payloadType": "str",
        "topic": "tello/command",
        "topicType": "str",
        "x": 630,
        "y": 540,
        "wires": [
            [
                "18c96b19e63abed0",
                "68cb9b092f097d1a"
            ]
        ]
    },
    {
        "id": "141cb96cccf2bd8b",
        "type": "ui_button",
        "z": "b3923dc6896fbed7",
        "name": "",
        "group": "64cb343c8b4b7a00",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Move Up 20cm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Move Up 20cm",
        "payloadType": "str",
        "topic": "tello/command",
        "topicType": "str",
        "x": 620,
        "y": 340,
        "wires": [
            [
                "575ca3c125623713",
                "7f824c4c1146c3dd"
            ]
        ]
    },
    {
        "id": "70545268539d87a3",
        "type": "ui_button",
        "z": "b3923dc6896fbed7",
        "name": "",
        "group": "64cb343c8b4b7a00",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Move Down 20cm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Move Down 20cm",
        "payloadType": "str",
        "topic": "tello/command",
        "topicType": "str",
        "x": 630,
        "y": 440,
        "wires": [
            [
                "48b88d4064bdd14e",
                "edd1cebcdb845b08"
            ]
        ]
    },
    {
        "id": "56820edc11870875",
        "type": "ui_button",
        "z": "b3923dc6896fbed7",
        "name": "",
        "group": "64cb343c8b4b7a00",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Flip Left",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Flip Left",
        "payloadType": "str",
        "topic": "tello/command",
        "topicType": "str",
        "x": 100,
        "y": 420,
        "wires": [
            [
                "c1aca21be3f2ec39",
                "a5b043262e1c9c2c"
            ]
        ]
    },
    {
        "id": "92c8cd6757adad4a",
        "type": "ui_button",
        "z": "b3923dc6896fbed7",
        "name": "",
        "group": "64cb343c8b4b7a00",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Flip Right",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Flip Right",
        "payloadType": "str",
        "topic": "tello/command",
        "topicType": "str",
        "x": 100,
        "y": 500,
        "wires": [
            [
                "b7599fd7fb725341",
                "5de0396e883e1ae4"
            ]
        ]
    },
    {
        "id": "29ee9fbf7831b297",
        "type": "ui_button",
        "z": "b3923dc6896fbed7",
        "name": "",
        "group": "c0c62188dc978b18",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Emergency",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Emergency",
        "payloadType": "str",
        "topic": "tello/command",
        "topicType": "str",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "e18ae5dc5092f6d5",
                "79fe66e0b79b48b3"
            ]
        ]
    },
    {
        "id": "5e5db02d179f30c2",
        "type": "ui_button",
        "z": "b3923dc6896fbed7",
        "name": "",
        "group": "64cb343c8b4b7a00",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Rotate 90 Degrees Clockwise",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Rotate 90 Degrees Clockwise",
        "payloadType": "str",
        "topic": "tello/command",
        "topicType": "str",
        "x": 1170,
        "y": 40,
        "wires": [
            [
                "e1305e23e8bfe94d",
                "82ca326ee6c97870"
            ]
        ]
    },
    {
        "id": "a864ab0956016c3d",
        "type": "ui_button",
        "z": "b3923dc6896fbed7",
        "name": "",
        "group": "64cb343c8b4b7a00",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Rotate 90 Degrees Anticlockwise",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Rotate 90 Degrees Anticlockwise",
        "payloadType": "str",
        "topic": "tello/command",
        "topicType": "str",
        "x": 1180,
        "y": 140,
        "wires": [
            [
                "ac89761e1afcdfd3",
                "190e99595eab4834"
            ]
        ]
    },
    {
        "id": "a457b2657d47eff5",
        "type": "ui_button",
        "z": "b3923dc6896fbed7",
        "name": "",
        "group": "c0c62188dc978b18",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Check Battery Percentage",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Check Battery Percentage",
        "payloadType": "str",
        "topic": "tello/command",
        "topicType": "str",
        "x": 1150,
        "y": 360,
        "wires": [
            [
                "380b2623daf742da",
                "840090f2c6724f49"
            ]
        ]
    },
    {
        "id": "5804c2f162bb24d7",
        "type": "ui_button",
        "z": "b3923dc6896fbed7",
        "name": "",
        "group": "c0c62188dc978b18",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Check Current Speed",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Check Current Speed",
        "payloadType": "str",
        "topic": "tello/command",
        "topicType": "str",
        "x": 1140,
        "y": 460,
        "wires": [
            [
                "114b63bb91243e30",
                "9b768b0d4cc6e2c2"
            ]
        ]
    },
    {
        "id": "07cd3f05a95d47df",
        "type": "ui_button",
        "z": "b3923dc6896fbed7",
        "name": "",
        "group": "c0c62188dc978b18",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Check Current Temperature ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Check Current Temperature",
        "payloadType": "str",
        "topic": "tello/command",
        "topicType": "str",
        "x": 1140,
        "y": 680,
        "wires": [
            [
                "6c940842857d1779",
                "7b20f72f8ef32148"
            ]
        ]
    },
    {
        "id": "50792aca56958595",
        "type": "ui_button",
        "z": "b3923dc6896fbed7",
        "name": "",
        "group": "c0c62188dc978b18",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Check Current Attitude ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Check Current Attitude",
        "payloadType": "str",
        "topic": "tello/command",
        "topicType": "str",
        "x": 1120,
        "y": 780,
        "wires": [
            [
                "d992dee67f5f7656",
                "23a28823cc993f52"
            ]
        ]
    },
    {
        "id": "da18ae819badf7d0",
        "type": "ui_button",
        "z": "b3923dc6896fbed7",
        "name": "",
        "group": "64cb343c8b4b7a00",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Flip Forward",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Flip Forward",
        "payloadType": "str",
        "topic": "tello/command",
        "topicType": "str",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "143a6f883dc1a154",
                "8814361dc021545a"
            ]
        ]
    },
    {
        "id": "2a011c1136c84811",
        "type": "ui_button",
        "z": "b3923dc6896fbed7",
        "name": "",
        "group": "64cb343c8b4b7a00",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Flip Backward",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Flip Backward",
        "payloadType": "str",
        "topic": "tello/command",
        "topicType": "str",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "271bf106c823a67c",
                "6c9203beca0af721"
            ]
        ]
    },
    {
        "id": "a5dda60492d111ef",
        "type": "ui_button",
        "z": "b3923dc6896fbed7",
        "name": "",
        "group": "c0c62188dc978b18",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Check Flight Time ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Check Flight Time",
        "payloadType": "str",
        "topic": "tello/command",
        "topicType": "str",
        "x": 1110,
        "y": 880,
        "wires": [
            [
                "0121af18a401b1fd",
                "605c42d4358c7131"
            ]
        ]
    },
    {
        "id": "c10552ee8e56ae30",
        "type": "ui_button",
        "z": "b3923dc6896fbed7",
        "name": "",
        "group": "c0c62188dc978b18",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Set Speed To 10cm/s",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Set Speed To 10cm/s",
        "payloadType": "str",
        "topic": "tello/command",
        "topicType": "str",
        "x": 1140,
        "y": 240,
        "wires": [
            [
                "054cdc6ee29d53a7",
                "e1cd6c4281773dbe"
            ]
        ]
    },
    {
        "id": "c1aca21be3f2ec39",
        "type": "debug",
        "z": "b3923dc6896fbed7",
        "name": "Flip Left ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 440,
        "wires": []
    },
    {
        "id": "a5b043262e1c9c2c",
        "type": "mqtt out",
        "z": "b3923dc6896fbed7",
        "name": "Flip Left ",
        "topic": "tello/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d61cc6708e5add9c",
        "x": 260,
        "y": 400,
        "wires": []
    },
    {
        "id": "7694c033943589ac",
        "type": "debug",
        "z": "b3923dc6896fbed7",
        "name": "Takeoff",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 180,
        "wires": []
    },
    {
        "id": "8e578393644798be",
        "type": "mqtt out",
        "z": "b3923dc6896fbed7",
        "name": "Takeoff",
        "topic": "tello/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d61cc6708e5add9c",
        "x": 260,
        "y": 140,
        "wires": []
    },
    {
        "id": "ecb229bd2d192970",
        "type": "debug",
        "z": "b3923dc6896fbed7",
        "name": "Land",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 260,
        "wires": []
    },
    {
        "id": "e7b37dacf1363425",
        "type": "mqtt out",
        "z": "b3923dc6896fbed7",
        "name": "Land",
        "topic": "tello/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d61cc6708e5add9c",
        "x": 250,
        "y": 220,
        "wires": []
    },
    {
        "id": "79fe66e0b79b48b3",
        "type": "debug",
        "z": "b3923dc6896fbed7",
        "name": "Emergency",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 340,
        "wires": []
    },
    {
        "id": "e18ae5dc5092f6d5",
        "type": "mqtt out",
        "z": "b3923dc6896fbed7",
        "name": "Emergency",
        "topic": "tello/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d61cc6708e5add9c",
        "x": 270,
        "y": 300,
        "wires": []
    },
    {
        "id": "5de0396e883e1ae4",
        "type": "debug",
        "z": "b3923dc6896fbed7",
        "name": "Flip Right",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 520,
        "wires": []
    },
    {
        "id": "b7599fd7fb725341",
        "type": "mqtt out",
        "z": "b3923dc6896fbed7",
        "name": "Flip Right",
        "topic": "tello/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f25b6ab5ed8adc0f",
        "x": 260,
        "y": 480,
        "wires": []
    },
    {
        "id": "143a6f883dc1a154",
        "type": "debug",
        "z": "b3923dc6896fbed7",
        "name": "Flip Forward",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 560,
        "wires": []
    },
    {
        "id": "8814361dc021545a",
        "type": "mqtt out",
        "z": "b3923dc6896fbed7",
        "name": "Flip Forward",
        "topic": "tello/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d61cc6708e5add9c",
        "x": 270,
        "y": 600,
        "wires": []
    },
    {
        "id": "6c9203beca0af721",
        "type": "mqtt out",
        "z": "b3923dc6896fbed7",
        "name": "Flip Backward",
        "topic": "tello/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d61cc6708e5add9c",
        "x": 300,
        "y": 680,
        "wires": []
    },
    {
        "id": "271bf106c823a67c",
        "type": "debug",
        "z": "b3923dc6896fbed7",
        "name": "Flip Backward",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 640,
        "wires": []
    },
    {
        "id": "380b2623daf742da",
        "type": "debug",
        "z": "b3923dc6896fbed7",
        "name": "Check Battery Percentage",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1410,
        "y": 340,
        "wires": []
    },
    {
        "id": "840090f2c6724f49",
        "type": "mqtt out",
        "z": "b3923dc6896fbed7",
        "name": "Check Battery Percentage",
        "topic": "tello/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d61cc6708e5add9c",
        "x": 1430,
        "y": 380,
        "wires": []
    },
    {
        "id": "114b63bb91243e30",
        "type": "debug",
        "z": "b3923dc6896fbed7",
        "name": "Check Current Speed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 440,
        "wires": []
    },
    {
        "id": "9b768b0d4cc6e2c2",
        "type": "mqtt out",
        "z": "b3923dc6896fbed7",
        "name": "Check Current Speed",
        "topic": "tello/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d61cc6708e5add9c",
        "x": 1380,
        "y": 480,
        "wires": []
    },
    {
        "id": "6c940842857d1779",
        "type": "debug",
        "z": "b3923dc6896fbed7",
        "name": "Check Current Temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 660,
        "wires": []
    },
    {
        "id": "7b20f72f8ef32148",
        "type": "mqtt out",
        "z": "b3923dc6896fbed7",
        "name": "Check Current Temperature",
        "topic": "tello/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d61cc6708e5add9c",
        "x": 1400,
        "y": 700,
        "wires": []
    },
    {
        "id": "d992dee67f5f7656",
        "type": "debug",
        "z": "b3923dc6896fbed7",
        "name": "Check Current Attitude",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 760,
        "wires": []
    },
    {
        "id": "23a28823cc993f52",
        "type": "mqtt out",
        "z": "b3923dc6896fbed7",
        "name": "Check Current Attitude",
        "topic": "tello/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d61cc6708e5add9c",
        "x": 1340,
        "y": 800,
        "wires": []
    },
    {
        "id": "0121af18a401b1fd",
        "type": "debug",
        "z": "b3923dc6896fbed7",
        "name": "Check Flight Time",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 860,
        "wires": []
    },
    {
        "id": "605c42d4358c7131",
        "type": "mqtt out",
        "z": "b3923dc6896fbed7",
        "name": "Check Flight Time",
        "topic": "tello/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d61cc6708e5add9c",
        "x": 1310,
        "y": 900,
        "wires": []
    },
    {
        "id": "e1305e23e8bfe94d",
        "type": "debug",
        "z": "b3923dc6896fbed7",
        "name": "Rotate 90 Degrees Clockwise",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 20,
        "wires": []
    },
    {
        "id": "82ca326ee6c97870",
        "type": "mqtt out",
        "z": "b3923dc6896fbed7",
        "name": "Rotate 90 Degrees Clockwise",
        "topic": "tello/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d61cc6708e5add9c",
        "x": 1470,
        "y": 60,
        "wires": []
    },
    {
        "id": "ac89761e1afcdfd3",
        "type": "debug",
        "z": "b3923dc6896fbed7",
        "name": "Rotate 90 Degrees Anticlockwise",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 120,
        "wires": []
    },
    {
        "id": "190e99595eab4834",
        "type": "mqtt out",
        "z": "b3923dc6896fbed7",
        "name": "Rotate 90 Degrees Anticlockwise",
        "topic": "tello/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d61cc6708e5add9c",
        "x": 1480,
        "y": 160,
        "wires": []
    },
    {
        "id": "054cdc6ee29d53a7",
        "type": "debug",
        "z": "b3923dc6896fbed7",
        "name": "Set Speed To 10cm/s",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 220,
        "wires": []
    },
    {
        "id": "e1cd6c4281773dbe",
        "type": "mqtt out",
        "z": "b3923dc6896fbed7",
        "name": "Set Speed To 10cm/s",
        "topic": "tello/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d61cc6708e5add9c",
        "x": 1380,
        "y": 260,
        "wires": []
    },
    {
        "id": "69c31dd8c7298c93",
        "type": "debug",
        "z": "b3923dc6896fbed7",
        "name": "Move Forward 20cm",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 120,
        "wires": []
    },
    {
        "id": "657ee92043e2a0b5",
        "type": "mqtt out",
        "z": "b3923dc6896fbed7",
        "name": "Move Forward 20cm",
        "topic": "tello/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d61cc6708e5add9c",
        "x": 860,
        "y": 160,
        "wires": []
    },
    {
        "id": "d7e97bc56d415d68",
        "type": "debug",
        "z": "b3923dc6896fbed7",
        "name": "Move Back 20cm",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "78bde5a0e7d56b91",
        "type": "mqtt out",
        "z": "b3923dc6896fbed7",
        "name": "Move Back 20cm",
        "topic": "tello/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d61cc6708e5add9c",
        "x": 830,
        "y": 260,
        "wires": []
    },
    {
        "id": "575ca3c125623713",
        "type": "debug",
        "z": "b3923dc6896fbed7",
        "name": "Move Up 20cm",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 320,
        "wires": []
    },
    {
        "id": "7f824c4c1146c3dd",
        "type": "mqtt out",
        "z": "b3923dc6896fbed7",
        "name": "Move Up 20cm",
        "topic": "tello/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d61cc6708e5add9c",
        "x": 800,
        "y": 360,
        "wires": []
    },
    {
        "id": "48b88d4064bdd14e",
        "type": "debug",
        "z": "b3923dc6896fbed7",
        "name": "Move Down 20cm",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 420,
        "wires": []
    },
    {
        "id": "edd1cebcdb845b08",
        "type": "mqtt out",
        "z": "b3923dc6896fbed7",
        "name": "Move Down 20cm",
        "topic": "tello/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d61cc6708e5add9c",
        "x": 830,
        "y": 460,
        "wires": []
    },
    {
        "id": "18c96b19e63abed0",
        "type": "debug",
        "z": "b3923dc6896fbed7",
        "name": "Move Right 20cm",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 520,
        "wires": []
    },
    {
        "id": "68cb9b092f097d1a",
        "type": "mqtt out",
        "z": "b3923dc6896fbed7",
        "name": "Move Right 20cm",
        "topic": "tello/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d61cc6708e5add9c",
        "x": 830,
        "y": 560,
        "wires": []
    },
    {
        "id": "7ca22bbca1968675",
        "type": "debug",
        "z": "b3923dc6896fbed7",
        "name": "Move Left 20cm",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 620,
        "wires": []
    },
    {
        "id": "5a2b1eaca6b99fc4",
        "type": "mqtt out",
        "z": "b3923dc6896fbed7",
        "name": "Move Left 20cm",
        "topic": "tello/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d61cc6708e5add9c",
        "x": 800,
        "y": 660,
        "wires": []
    },
    {
        "id": "970cd15aa9173f94",
        "type": "inject",
        "z": "b3923dc6896fbed7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 780,
        "wires": [
            [
                "2de120b8e1643ea4"
            ]
        ]
    },
    {
        "id": "2de120b8e1643ea4",
        "type": "template",
        "z": "b3923dc6896fbed7",
        "name": "Create an iframe for Tello Video Stream",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe src=\"\" ></iframe>",
        "output": "str",
        "x": 460,
        "y": 780,
        "wires": [
            [
                "eeb85283371d9eed"
            ]
        ]
    },
    {
        "id": "eeb85283371d9eed",
        "type": "ui_template",
        "z": "b3923dc6896fbed7",
        "group": "27b9b2c7dc556244",
        "name": "Display Tello Video Stream",
        "order": 1,
        "width": "20",
        "height": "12",
        "format": "<div ng-bind-html=\"msg.payload | trusted\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 800,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "3addf4b06d0260f8",
        "type": "ui_button",
        "z": "b3923dc6896fbed7",
        "name": "",
        "group": "c0c62188dc978b18",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Check Height",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Check Height",
        "payloadType": "str",
        "topic": "tello/command",
        "topicType": "str",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "b59ece1a6b951fb5",
                "10e609702284fc79"
            ]
        ]
    },
    {
        "id": "10e609702284fc79",
        "type": "debug",
        "z": "b3923dc6896fbed7",
        "name": "Check Height",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 80,
        "wires": []
    },
    {
        "id": "b59ece1a6b951fb5",
        "type": "mqtt out",
        "z": "b3923dc6896fbed7",
        "name": "Check Height",
        "topic": "tello/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f25b6ab5ed8adc0f",
        "x": 300,
        "y": 40,
        "wires": []
    },
    {
        "id": "04c7eeb959fcca3f",
        "type": "debug",
        "z": "b3923dc6896fbed7",
        "name": "Set Video Direction Downward",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 60,
        "wires": []
    },
    {
        "id": "912c806e7797ea88",
        "type": "mqtt out",
        "z": "b3923dc6896fbed7",
        "name": "Set Video Direction Downward",
        "topic": "tello/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d61cc6708e5add9c",
        "x": 830,
        "y": 20,
        "wires": []
    },
    {
        "id": "d2a0d62e2f9a9f23",
        "type": "ui_button",
        "z": "b3923dc6896fbed7",
        "name": "",
        "group": "c0c62188dc978b18",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Set Video Direction Forward",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Set Video Direction Forward",
        "payloadType": "str",
        "topic": "tello/command",
        "topicType": "str",
        "x": 1120,
        "y": 580,
        "wires": [
            [
                "d39516afe9e1a65e",
                "7769dac001ab7224"
            ]
        ]
    },
    {
        "id": "7769dac001ab7224",
        "type": "debug",
        "z": "b3923dc6896fbed7",
        "name": "Set Video Direction Forward",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 600,
        "wires": []
    },
    {
        "id": "d39516afe9e1a65e",
        "type": "mqtt out",
        "z": "b3923dc6896fbed7",
        "name": "Set Video Direction Forward",
        "topic": "tello/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d61cc6708e5add9c",
        "x": 1420,
        "y": 540,
        "wires": []
    },
    {
        "id": "c18791785e24de77",
        "type": "ui_button",
        "z": "b3923dc6896fbed7",
        "name": "",
        "group": "c0c62188dc978b18",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Set Video Direction Downward",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Set Video Direction Downward",
        "payloadType": "str",
        "topic": "tello/command",
        "topicType": "str",
        "x": 550,
        "y": 40,
        "wires": [
            [
                "912c806e7797ea88",
                "04c7eeb959fcca3f"
            ]
        ]
    },
    {
        "id": "c0c62188dc978b18",
        "type": "ui_group",
        "name": "Basic Commands",
        "tab": "b4d4ebd5.0d6e98",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "64cb343c8b4b7a00",
        "type": "ui_group",
        "name": "Movement Commands",
        "tab": "b4d4ebd5.0d6e98",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d61cc6708e5add9c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.10.2",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f25b6ab5ed8adc0f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "27b9b2c7dc556244",
        "type": "ui_group",
        "name": "Video Stream",
        "tab": "b4d4ebd5.0d6e98",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b4d4ebd5.0d6e98",
        "type": "ui_tab",
        "name": "Tello Drone Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]